<router-outlet></router-outlet>
<!--<app-products></app-products>-->

<!--<button (click)="createUser()">Crear Usuario</button>-->
<!--<button (click)="login()">Login</button>
<button (click)="profile()">Profile Token</button>
<hr>
-->
<!--<a href="../assets/files/texto.txt" download>Descargar</a>
<button (click)="downloadPdf()">Descargar PDF</button>
<input type="file" (change)="onUpdate($event)">
<img *ngIf="imgFile" [src]="imgFile" alt="">
<hr>-->

<!--
<br>
<input type="text" [(ngModel)]="imgParent" />
<app-img *ngIf="showToggle" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<br>
<button (click)="toggleCount()">Toggle Count</button>
<p> {{ showToggle }} </p>
-->
